body, html {
    background: linear-gradient(-30deg, #ff1151 30%, #ff7097 80%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font: bold 16px/1.4 'Open Sans', arial, sans-serif;
    margin: 0;
}


.nav ul {
    height: 10vh;
    width: 600px;
    text-align: center;
    list-style: none;
    display: table;
    margin: 30px auto 0;
    padding: 0 60px;
    display: flex;
    justify-content: center;
}

.nav ul li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    position: relative;
    font-size: 1.15em;
}

.nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    width: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


.main {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0 0 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

h3 {
    margin: 1rem 0 0;
    font-size: 1.7rem;
    line-height: 1.4;
    font-weight: normal;
    color: #fff;
    display: flex;
    justify-content: center;
}


.contact ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin-top: 150px;
    justify-content: center;
}

.contact ul li {
    list-style: none;
}

.contact ul li a {
    width: 65px;
    height: 65px;
    background-color: #fff;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.contact ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.contact ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.contact li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.contact ul li a:hover:before {
    top: 0;
}

.contact ul li:nth-child(1) a:before{
    background: #3b5999;
}
  
.contact ul li:nth-child(2) a:before{
    background: #55acee;
}
  
.contact ul li:nth-child(3) a:before {
    background: #0077b5;
}
  
.contact ul li:nth-child(4) a:before {
    background: #1DB954;
}

.contact ul li:nth-child(5) a:before {
    background: #000;
}


.footer {
    position: absolute;
    right: 0;
    color: #fff;
    bottom: 0;
    left: 0;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 0.9em;
}
